/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=UnifrakturMaguntia&display=swap');*
    
}*/

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}

/* headings and logos*/ 
h1, h2{
    font-family: UnifrakturMaguntia, cursive;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #002147;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
    font-weight: bold;
}

header {
    background-color: #002147;
}
/* navigation link */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    color: #002147;
}

#logo, #menu{
    line-height: 75px;
    
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*printing image*/

#printing-outer {
    height:30vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#printing-image {
    height: 100vh;
    width: 100%;
    background:url('../image/movable\ type\ 2.jpeg') no-repeat center center;
}

#printing-cover, #printing-cover h3 {
    color: #fff;
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 10px;
    right: 30px;
    position: absolute;
    font-weight: bold;
}
/*biographical-information section*/

#biographical-information {
width: 100%;
height: 1200px;
padding: 30px;
margin: 0 auto;
text-align: right;
background-color: #002147;
}

/*#biographical-image { 
    height: 1000px;
    width: 100%;
    margin-top: 10px;
    margin-left: 55px;
    top: 20px;
    
}

#biographical-image img {
   padding-top: 15px;
   margin-bottom: 10px;
   margin-left: 50px;
   padding-left: 40px;
}
*/

#left-top-paragraph {
 color: #fff;
 padding-top: 1em;
 font-size: 130%;
 text-align: justify;
 padding-left: 10em;
}

#left-paragraph {
    color: #fff;
    width: 60%;
    font-size: 130%;
    text-align: justify;
    letter-spacing: 2px;
    padding-top: 2em;
   }


#left-bottom-image {
    padding-top: 2em;
    padding-left: 5em;
    
}

.biographical-row {
    display: flex;
    background-color: #002147;
    justify-content: space-evenly;
}

/*.flexbox-container img {
    width: 270px;
    height: 300px;
    padding-top: 10px;
}
*/


#paragraph-right-top {
 width: 600px;
 height: 200px;
 color: #fff;
 padding-right: 1em;
 padding-top: 5em;
 padding-bottom: 2em;
 font-size: 130%;
 text-align: justify;
 letter-spacing: 2px;
}

#paragraph-right-bottom {
    color: #fff;
    padding-top: 4em;
    padding-bottom: 2em;
    font-size: 130%;
    text-align: justify;
    letter-spacing: 2px;
    padding-left: 20em;
}



#right-photo img{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 30px;
    padding-bottom: 10px;
    padding-right: 20px;
}


#map-location h4 {
text-align: center;
 margin-left: 10px;
 font-size: 130%;
 padding-top: 20px;
 color: #002147;
 font-weight: bold;
}

#map-location h3 {
text-align: center;
font-size: 200%;
text-align: center;
margin-left: 10px;
font-size: 200%;
padding-top: 20px;
color: #002147;
font-weight: bold;
}

#map-location iframe {
    padding-top: 20px;
    padding-left: 60px;
}

#map-location h4 a{
    text-decoration: none;
    color: #002147;
}

#map-location h4 a:hover{
    color: red;
}

#gutenberg-museum {
    vertical-align: unset;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}



/*gallery*/

#images{
clear: both;
line-height: 0;
column-count: 3;
column-gap: 0;
}

#images > img {
width: 100%;
}

#video{
    align-items: center;
    text-align: center;
    font-size: 200%;
}

/*time-line*/

#time-line {
 display: flex;
 flex-direction: row;
 position: absolute;
 flex-wrap: wrap;
 padding-right: auto;
}


#time-line h3 {
font-family: Lato, sans-serif;
font-size: 200%;
text-align: center;
letter-spacing: 2px;
}

#origin {
    height: 400px;
    width: 500px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    background: url(/assets/image/chinese\ movable\ type.jpg) no-repeat center center;
}

#origin h3 {
    padding-top: 20px;
    background-color: rgba(128, 128, 128, 0.76);
    color: black;
}

#origin h4 {
    padding-top: 30px;
    background-color: rgba(128, 128, 128, 0.76);
    color: black;
    
}

#origin:hover{
    background-size: contain;
}

#gutenberg {
    height: 400px;
    width: 510px;
    background: url(/assets/image/Johannes\ Gutenberg\ looking\ at\ printed\ paper.jpg) no-repeat center center;
    color: black;
    letter-spacing: 2px;
    text-align: center;
}

#gutenberg h3 {
    padding-top: 20px;
    background-color: rgba(255, 228, 196, 0.356);
    color: black;
}

#gutenberg h4 {
padding-top: 30px;
background-color: rgba(255, 228, 196, 0.356);
color: black;

}

#gutenberg:hover {
    background-size: contain;
}

#bible {
    height: 400px;
    width: 500px;
    background: url(/assets/image/Gutenberg_Bible\,_on_display_at_the_Library_of_Congress.jpg) no-repeat center center;
    color: black;
    letter-spacing: 2px;
    text-align: center;
}

#bible h3 {
    color: black;
    background-color: rgba(222, 184, 135, 0.738);
}

#bible h4 {
 padding-top: 20px;
 color: black;
 background-color: rgba(255, 228, 196, 0.837);
}
#bible:hover {
    background-size: contain;
}

#catholicon {
    height: 400px;
    width: 500px;
    background: url(/assets/image/Catholicon1499.jpg) no-repeat center center;
    color: black;
    letter-spacing: 2px;
    text-align: center;   
}

#catholicon h3 {
    color: black;
    background-color: rgba(255, 228, 196, 0.903);
}

#catholicon h4 {
    background-color: rgba(255, 228, 196, 0.903);
}

#catholicon:hover {
    background-size: contain;
}

#development {
    height: 400px;
    width: 509px;
    background: url(/assets/image/Schöffer_&_Fust_trademark00.jpg) no-repeat center center;
    color: black;
    letter-spacing: 2px;
    text-align: center;  
}


#development:hover {
    background-size: contain;
}

#development h3 {
    color: black;
    background-color: rgba(245, 245, 220, 0.916);
}

#development h4 {
    background-color: rgba(245, 245, 220, 0.916);
}

#spread {
    height: 400px;
    width: 509px;
    background: url(../image/William\ Caxton\ printing\ press.jpg) no-repeat center center;
}

#spread:hover {
    background-size: contain;
}

#spread h3 {
background-color: rgba(255, 228, 196, 0.732);
}

#spread h4 {
    background-color: rgba(255, 228, 196, 0.732);
    text-align: center;
}
/*footer */

footer{
    height: 150px;
    width: 100%;
    padding-top: 10px;
}

.social-media{
    text-align: center;

}

.social-media li{
    display: inline;
}

.social-media i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #002147;
}

/*media query*/

@media screen and (max-width = 1200px){
#biographical-information {
    width: 66%;
    height: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}    

#map-location {
    width: 66%;
    height: 600px;
    padding: 0 auto;
}

#map-locaton iframe {
    align-items: center;
    padding: unset;
}

#gutenberg-museum {
    align-items: center;
    padding: unset;
}
}

@media screen and (max-width = 950px){
    #menu a{
        float: left;
    }
    #biographical-information{
        width: 66%;
        height: 1200px;
    }
    #images{
        count: 2;
    }
}

@media screen and (max-width = 800px){

}