/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=UnifrakturMaguntia&display=swap');*/

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}

/* headings and logos*/ 
h1, h2{
    font-family: UnifrakturMaguntia, cursive;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #002147;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

header {
    background-color: #002147;
}
/* navigation link */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*printing image*/

#printing-outer {
    height:200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#printing-image {
    height: 1000px;
    width: 100%;
    background:url('../image/movable\ type\ 2.jpeg') no-repeat center center;
}

#printing-cover, #printing-cover h3 {
    color: #fff;
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 10px;
    right: 30px;
    position: absolute;
}
/*biographical-information section*/
#biographical-row {
    width: 50%;
    clear: both;
}

#biographical-information {
width: 200px;
height: 600px;
padding: 30px;
margin: 0 auto;
text-align: right;
}

#biographical-image { 
    height: 1000px;
    width: 100%;
    margin-top: 0;
    margin-left: 50px;
    top: 20px;
}

#biographical-image img {
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 100px;
}


#left-paragraph {
 width: 500px;
 height: 200px;
 color: #fff;
 padding-left: 5em;
 padding-top: 2em;
 font-size: 130%;
 text-align: justify;
 letter-spacing: 1px;
}

.biographical-row {
    display: flex;
    flex-grow: 3;
    flex-basis: auto;
    background-color: #002147;
    justify-content: space-evenly;
}

/*.flexbox-container img {
    width: 270px;
    height: 300px;
    padding-top: 10px;
}
*/


#paragraph-right-top {
 width: 600px;
 height: 200px;
 color: #fff;
 padding-right: 7em;
 padding-top: 3em;
 padding-bottom: 3em;
 font-size: 130%;
 text-align: justify;
 letter-spacing: 2px;
}

#paragraph-right-bottom {
    width: 600px;
    height: 200px;
    color: #fff;
    padding-right: 10em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 130%;
    text-align: justify;
    letter-spacing: 2px;
}



#right-photo img{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 40px;
}


#map-location {
 align-items: left;
 text-align: center;
 margin-left: 10px;
 font-size: 200%;
 padding-top: 50px;
 color: #002147;
}

#map-location img{
    align-items: right;
    width: 750px;
    height: 500px;
    padding-top: 50px;
}

/*gallery*/

#images{
clear: both;
line-height: 0;
column-count: 3;
column-gap: 0;
}

#images > img {
width: 100%;
}

#video{
    align-items: center;
    text-align: center;
    font-size: 200%;
}

/*time-line*/

#time-line {
 width: 600px;
 height: 1000px;
}

#time-line div {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 10px;
    order: 5;
}

#time-line h3 {
font-family: Lato, sans-serif;
font-size: 200%;
color: white;
text-align: center;
letter-spacing: 2px;
}

#origin {
    height: 340px;
    width: 500px;
    background: url(/assets/image/chinese\ movable\ type.jpg) no-repeat center center;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}

#origin h3 {
    padding-top: 20px;
    background-color: rgba(128, 128, 128, 0.76);
    color: black;
    
}

#origin h4 {
    padding-top: 30px;
    background-color: rgba(128, 128, 128, 0.76);
    color: black;
}

#origin:hover{
    background-size: cover;
}

#gutenberg {
    height: 400px;
    width: 500px;
    background: url(/assets/image/Johannes\ Gutenberg\ looking\ at\ printed\ paper.jpg) no-repeat center center;
    color: black;
    letter-spacing: 2px;
    text-align: center;
}

#gutenberg h3 {
    padding-top: 20px;
    background-color: rgba(255, 228, 196, 0.356);
    color: black;
}

#gutenberg h4 {
padding-top: 30px;
background-color: rgba(255, 228, 196, 0.356);
}
#gutenberg:hover {
    background-size: cover;
}

#bible {
    height: 400px;
    width: 500px;
    background: url(/assets/image/Gutenberg_Bible\,_on_display_at_the_Library_of_Congress.jpg) no-repeat center center;
    color: black;
    letter-spacing: 2px;
    text-align: center;
}

#bible h3 {
    color: black;
    background-color: rgba(222, 184, 135, 0.738);
}

#bible h4 {
 padding-top: 20px;
 color: black;
 background-color: rgba(255, 228, 196, 0.837);
}
#bible:hover {
    background-size: contain;
}

#catholicon {
    height: 400px;
    width: 500px;
    background: url(/assets/image/Catholicon1499.jpg) no-repeat center center;
    color: black;
    letter-spacing: 2px;
    text-align: center;   
}

#catholicon h3 {
    color: black;
    background-color: rgba(255, 228, 196, 0.903);
}

#catholicon h4 {
    background-color: rgba(255, 228, 196, 0.903);
}

#catholicon:hover {
    background-size: contain;
}

#development {
    height: 400px;
    width: 500px;
    background: url(/assets/image/Schöffer_&_Fust_trademark00.jpg) no-repeat center center;
    color: black;
    letter-spacing: 2px;
    text-align: center;  
}

#development:hover {
    background-size: contain;
}

#development h3 {
    color: black;
    background-color: rgba(245, 245, 220, 0.916);
}

#development h4 {
    background-color: rgba(245, 245, 220, 0.916);
}
/*footer */

footer{
    height: 150px;
}

.social-media{
    text-align: center;

}

.social-media li{
    display: inline;
}

.social-media i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #002147;
}
