/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=UnifrakturMaguntia&display=swap');*/

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}

/* headings and logos*/ 
h1, h2{
    font-family: UnifrakturMaguntia, cursive;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
    background-color: ivory;
}

header{
    background-color: #022c5c;
}

